<ul class="small" style="list-style:none;padding:0;margin:0">
  <li>📧 <a href="mailto:lowhuiyeen@gmail.com">lowhuiyeen@gmail.com</a></li>
  <li>💼 <a href="https://www.linkedin.com/in/huiyeenlow/" target="_blank">linkedin.com/in/huiyeenlow</a></li>
  <li>🌐 <a href="https://github.com/lowhuiyeen" target="_blank">github.com/lowhuiyeen</a></li>
  <li>🎥 <a href="https://www.youtube.com/@huiyeen" target="_blank">youtube.com/@huiyeen</a></li>
  <li>🎮 <a href="https://www.roblox.com/users/9456961059/profile" target="_blank">Roblox Profile</a></li>
</ul>
